@config "../../tailwind.config.ts";

@import "tailwindcss";

@custom-variant hover {
  &:hover {
    @slot;
  }
}

@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    outline-color: transparent;
    scrollbar-width: thin;
  }

  :focus-visible {
    outline: 2px solid theme("colors.yellow.gold");
    outline-offset: 2px;
    border-radius: 2px;
  }

  html {
    height: 100%;
    color-scheme: dark;
  }

  body {
    -webkit-font-smoothing: antialiased;
    height: 100%;

    font-family: theme("fontFamily.brand");
    font-weight: 400;
    font-size: 15px;
    line-height: normal;
    color: #ffffff;
    letter-spacing: -0.05em;
    text-wrap: pretty;
    overflow-wrap: break-word;
  }
}

@layer components {
  .app {
    margin: 0 auto;
    max-width: 390px;
    /*max-width: 600px;*/
    overflow-x: clip;
    position: relative;
    scroll-behavior: smooth;
    background-color: #0a0a0a;
    isolation: isolate;

    &__main {
      display: flex;
      flex-direction: column;
      height: 100dvh;
      overflow-y: auto;
      padding: 144px 20px calc(77px + 12px + 40px);
    }
  }

  .glass {
    /*overflow: hidden;*/
    position: relative;
    isolation: isolate;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -10;
      border-radius: inherit;
      backdrop-filter: blur(8px);
      filter: url(#liquid-glass);
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -10;
      border-radius: inherit;
      /*mix-blend-mode: overlay;*/
      box-shadow:
        0 0 1px 1px hsl(0 0% 100% / 0.8) inset,
        1px 1px 6px 1px hsl(0 0% 0% / 0.2) inset;
      mask: linear-gradient(352deg, #ffffff80, #ffffff15 30% 60%, #fff);
    }
  }
}
