@config "../../tailwind.config.ts";

@import "tailwindcss";

@custom-variant hover {
  &:hover {
    @slot;
  }
}

@layer base {
  :root {
    --safe-area-inset-top: var(
      --tg-safe-area-inset-top,
      env(safe-area-inset-top, 0px)
    );
    --safe-area-inset-right: var(
      --tg-safe-area-inset-right,
      env(safe-area-inset-right, 0px)
    );
    --safe-area-inset-bottom: var(
      --tg-safe-area-inset-bottom,
      env(safe-area-inset-bottom, 0px)
    );
    --safe-area-inset-left: var(
      --tg-safe-area-inset-left,
      env(safe-area-inset-left, 0px)
    );
  }

  * {
    outline-color: transparent;
    scrollbar-width: thin;
  }

  :focus-visible {
    outline: 2px solid theme(colors.yellow.gold);
    outline-offset: 2px;
    border-radius: 2px;
  }

  html {
    height: 100%;
    color-scheme: dark;
  }

  body {
    -webkit-font-smoothing: antialiased;
    height: 100%;

    font-family: theme(fontFamily.brand);
    font-weight: 400;
    font-size: 15px;
    line-height: normal;
    color: #ffffff;
    letter-spacing: -0.05em;
    text-wrap: pretty;
    overflow-wrap: break-word;
  }
}

@layer components {
  .app {
    margin: 0 auto;
    /*max-width: 390px;*/
    max-width: 600px;
    height: 100dvh;
    overflow: clip;
    position: relative;
    background-color: theme(colors.black.soft);
    isolation: isolate;

    &__main {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
      scroll-behavior: smooth;
      padding: calc(144px + var(--safe-area-inset-top)) 20px
        calc(77px + 12px + 40px + var(--safe-area-inset-bottom));

      > * {
        flex-shrink: 0;
      }
    }
  }

  .glass {
    /*overflow: hidden;*/
    position: relative;
    isolation: isolate;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -10;
      border-radius: inherit;
      backdrop-filter: blur(8px);
      filter: url(#liquid-glass);
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -10;
      border-radius: inherit;
      /*mix-blend-mode: overlay;*/
      box-shadow:
        0 0 1px 1px hsl(0 0% 100% / 0.8) inset,
        1px 1px 6px 1px hsl(0 0% 0% / 0.2) inset;
      mask: linear-gradient(352deg, #ffffff80, #ffffff15 30% 60%, #fff);
    }
  }
}
